body, html {
  margin: 0; }

body {
  position: relative;
  padding: 2cm; }

header, footer, .backdrop {
  font-family: sans-serif;
  display: none; }

.print-title {
  margin-top: 0; }
  .print-title small {
    font-size: 11pt;
    display: block;
    text-align: right; }

p {
  margin: 0;
  line-height: 2.2;
  text-align: justify;
  text-justify: inter-ideograph; }

.center {
  text-align: center; }

blockquote {
  line-height: 2.2;
  margin: 0 0 0 2em;
  padding: 0;
  color: #444; }

.right {
  text-align: right;
  color: #444; }
